<div class="ui segments">
    <div class="ui segment">
    <div class="ui top fixed menu">
         <div class="item">
        <img src="assets/images/stmarg.gif">
         </div>
        <a class="item" href="#/welcome"> <h3> SmartsMedia </h3></a>
        <a class="item" href="#/cvcpolling"> Chairman & Vice-Chairman Voting</a>
        <a class="item" href="#/tlpolling">  Team Leaders Voting </a>
    </div>
    </div>


<!--Title-->
<h1> Team Leaders Voting 2015 </h1>

<!--Terms & Conditions-->
 <p>
 <b>ROLE OF TEAM LEADER:</b><br>
	1. Assign weekly AVA duties <br>
	2. Mark attendance of team members <br>
	3. Archiving of pictures <br>
 </p>



<!--Submit Button-->
<button class="large ui green basic button" ng-click="submit_tl()">Submit</button>
