<div class="ui segments">
	<div class="ui segment">
	<div class="ui top fixed menu">
	<div class="item">
	<img src="assets/images/stmarg.gif">
	</div>
	<a class="item" href="#/welcome"> <h3> SmartsMedia </h3></a>
	<a class="item" href="#/pollingpage"> CHOOSE CVC/ TL? </a>
	<a class="item" href="#/endpolling"> End Page </a>
	</div>
	</div>

	<div class="ui horizontal divider"></div>
	   <div class="ui inverted center aligned segment">
	        <div class="ui inverted form">
	
	        <h1> SmartsMedia Leaders Voting 2015 </h1>
		<center>
			<div class="six wide field">
			<label>Name</label>
			<div class="ui left icon input">
			<input placeholder="Your Name" type="text" ng-model="user.username">
			<i class="user icon"></i>
			</div>
			</div>
	
			<div class="six wide field">
			<label>Class</label>
			<div class="ui left icon input">
			<input placeholder="Your Class" type="text" ng-model="user.password">
			<i class="camera retro icon"></i>
			</div>
			</div>
		</center>
	
		<br>
			<div class="inline field">
				<div class="ui checkbox">
				<input type="checkbox" tabindex="0" class="hidden">
				<label>I AGREE that all decisions made on this Site is solely mine.</label>
				</div>
			</div>
	
			<div class="ui blue submit button" ng-click="login()"> LOGIN </div>
		</div>
	   </div>
	</div>
</div>
        <h3 class="ui top attached header">
          About Us
        </h3>
        
        <div class="ui attached segment">
          <p>St Marg's own polling portal</p>
        </div>
        
        <h3 class="ui top attached header">
          Terms & Conditions
        </h3>
        <div class="ui blue segment">
          <p>Chairman & Vice-Chairman Positions</p>
          <h6>...</h6>
        </div>
        <div class="ui violet segment">
          <p>Team Leaders Positions</p>
          <h6>...</h6>
        </div>